/* 自定义样式 */
.card {
    margin: 10px;
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
}

.row {
    justify-content-center;
}

h3 {
    margin-top: 20px;
}

/* 超链接样式 */
.card-title a {
    text-decoration: none;
    color: #007BFF;
}
.card-title a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    color: #007BF; 
}
